<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Answer Questions</h3>
    </div>
    <div class="box-body">
        <div class="col col-md-4" style="text-align: start;">
            <h5>Total Questions : {{totalCurrentIndex}}/{{totalQuestions}}</h5>
        </div>
        <div class="col col-md-4" style="text-align: center;">
            <h5>Stage : {{currentStage?.stage}}</h5>
        </div>
        <div class="col col-md-4" style="text-align: end;">
            <h5>Question : {{currentQuestionIndex}}/{{currentStage?.questions?.length}}</h5>
        </div>
        <div class="col col-md-12">
            <div class="scene scene--card">
                <div [ngClass]="isFace ? 'card' : 'card is-flipped'" (click)="changeFace()">
                    <div class="card__face card__face--front">{{currentQuestion.vocabulary}}</div>
                    <div class="card__face card__face--back">{{currentQuestion.meaning}}</div>
                </div>
            </div>
        </div>
        <div class="col col-md-4" style="text-align: start;">
            <h5>Success : {{successCount}}/{{totalCurrentIndex-1}}({{successPercentage | number:'1.1-2'}}%)</h5>
        </div>
        <div class="col col-md-4" style="text-align: center;">
            <h5>Fail Count : {{currentQuestion?.failCount}}</h5>
        </div>
        <div class="col col-md-4" style="text-align: end;">
            <h5>Fail : {{failCount}}/{{totalCurrentIndex-1}}({{failPercentage | number:'1.1-2'}}%)</h5>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
        <button class="btn btn-success pull-right" *ngIf="!isFinished" (click)="success()">Success <i class="fa fa-thumbs-o-up"></i></button>
        <button class="btn btn-danger pull-right" *ngIf="!isFinished" (click)="fail()">Fail <i class="fa fa-thumbs-o-down"></i></button>
        <button class="btn btn-primary" *ngIf="answerdQuestions.length" (click)="submit()">Submit</button>
    </div>
</div>