/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.modal-backdrop.fade {
    opacity: 0.5;
}

.modal-open .modal {
    opacity: 1;
}

.modal-dialog {
    top: 25%;
    margin: 0 auto;
}


/* .modal-content {
    top: 50px;
} */