<section class="content-header">
  <!-- <div class="container-fluid">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="newItemModel.name">
      <span class="input-group-append">
        <button type="button" class="btn btn-info" (click)="addItem()">
            <i class="fas fa-plus"></i>
        </button>
      </span>
    </div>
  </div> -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="input-group" *ngFor="let item of items" style="margin: 3px">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <input type="checkbox" [(ngModel)]="item.completed" (change)="changeItemStatus(item.id)">
        </span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="item.name" [ngClass]="{compeleted: item.completed}"
        (keyup.enter)="editItem(item.id, item.name)">
      <span class=" input-group-prepend">
        <button type="button" class="btn btn-outline-danger" (click)="deleteItem(item.id)">
          <i class="fas fa-trash"></i>
        </button>
      </span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="newItemModel.name" (keyup.enter)="addItem()"
        placeholder="new item">
    </div>
  </div>
</section>