<section class="content-header">
    <h1>
        Search Movies From Imdb Resource
    </h1>
</section>
<section class="content">
    <div class="form-group">
        <input type="text" class="form-control" (keyup.enter)="searchMovie()" [(ngModel)]="movieName">
    </div>
    <div class="row">
        <div *ngFor="let movie of result.search" class="col col-md-4 card">
            <div class="box box-default">
                <div class="box-header with-border" style="height: 50px;">
                    <h3 class="box-title"><b>{{movie.title}}</b></h3>
                </div>
                <div class="box-body">
                    <img style="width: 300px; height: 430px;" src={{movie.poster}}>
                    <p>{{movie.year}} ({{movie.type}})</p>
                    <button class="btn btn-block btn-default" (click)="openMovieDetail(movie.imdbID)">Show Info</button>
                    <button class="btn btn-block btn-primary" (click)="addMovieFromImdb(movie.imdbID)">Add To My Movies</button>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group" *ngIf="result && result.search">
        <button *ngFor="let page of pages" (click)="searchMovie(page)" [className]="currentPage==page ? 'btn btn-default active' : 'btn btn-default'">{{page}}</button>
    </div>
</section>